.section.is-primary {
    background-color: #ff2977;
    color: #fff;
}
.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #ff2977;
    color: #ffa302;
}
.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
    background-color: #ff2977;
    border-color: #ff2977;
    color: #fff;
}
.section.skills {
    margin-top: -17rem;
    padding-bottom: 7rem;
}

/* Planner */
.navbar.is-planner a.button {
    font-weight: 400;
    color: #ff2977;
    border-color: #E6ECF8;
}